<% include ./partials/header%>

<div id="blog-content-container" class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
        <div class="ui top attached">
            <div class="item">
                <img class="ui centered rounded image" src="<%= blog.image %>">
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
                <div class="description">
                    <p><%= blog.body%></p>
                </div>
             </div>
            <a class="ui yellow reversed button" href="/blogs/<%=blog._id%>/edit">
                <i id="icon" class="edit outline icon"></i>
            </a>
            <form id="delete" method="POST" action="/blogs/<%=blog._id%>?_method=DELETE">
                <button class="ui red reversed button">
                    <i id="icon" class="trash alternate outline icon"></i>
                </button>
            </form>
            <a id="back-button" class="ui teal reversed button" href="/blogs/">
                <i id="icon" class="arrow circle left icon"></i>
            </a>
    </div>
</div>

<% include ./partials/footer%>